/* TAGS */
body {
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
}

/* Base Style  */
.container {
    padding: 50px;
}

#header {
    background-color: #ccc;
}

.txtal-center {
    text-align: center;
}
.al-center {
    align-items: center;
}

#minefield {
    font-size: larger;
}

/* Rendered Elements Style */
.cell-start-style {
    background-color: #ccc;
    line-height: 150%;
    box-sizing: border-box;
    border: 2px solid;
    border-color: #fff gray gray #fff;

    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
}
.blank-style {
    background-color: #ccc;
    line-height: 150%;
    box-sizing: border-box;
    border: 1px solid gray;
}
.bomb-style {
    box-sizing: border-box;
    background-color: #ccc; 
    line-height: 150%;
    border: 1px solid gray;

    display: flex;
    justify-content: center;
    align-items: center;

    > img {
        width: 29px;
        height: auto;
    }
}
img {
    max-width: 30px;
    height: auto;
    object-fit: contain;
}


.first {
    color: blue;
}
.second {
    color: green;
}
.third {
    color: red;
}
.fourth {
    color: purple;
}
.fifth {
    color: yellow;
}
.sixth {
    color: orangered;
}
.seventh {
    color: darkmagenta;
}
.eighth {
    color: darkslategrey;
}
